@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@500&family=Lato:wght@300;400&display=swap');

:root {
 --bg-color: #d9cdf7;
 --text-color: #271a45;
 --font-crimson: 'Crimson Pro', serif;
 --font-lato: 'Lato', sans-serif;
}

* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

body {
 width: 100vw;
 height: 100vh;
 background: var(--bg-color);
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 20px;
}

.app {
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 0;
 gap: 15px;
}

.product-image {
 display: flex;
 flex-direction: column;
 align-items: flex-end;
}

#btn-360 {
 border: none;
 background: transparent;
 width: 50px;
 height: 50px;
}

#btn-close {
 border: none;
 background: transparent;
 width: 50px;
 height: 50px;
 display: none;
}

#btn-360 img {
 width: 50px;
 height: 50px;
}

.product-image img {
 
}

.product-infos {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: center;
 padding: 0;
 gap: 20px;
 color: var(--text-color)
}

#code {
 font-family: var(--font-lato);
 font-style: normal;
 font-weight: 300;
 font-size: 15px;
 line-height: 100%;
}

#name {
 font-family: var(--font-crimson);
 font-style: normal;
 font-weight: 600;
 font-size: 48px;
 line-height: 100%;
}

#value {
 font-family: var(--font-lato);
 font-style: normal;
 font-weight: 400;
 font-size: 24px;
 line-height: 100%;
 opacity: 0.67;
}

.product-infos button {
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 8px 16px;
 gap: 8px;
 border: 0.5px solid var(--text-color);
 border-radius: 999px;
 background: transparent;
 font-family: var(--font-lato);
 font-style: normal;
 font-weight: 400;
 font-size: 18px;
 line-height: 16px;
 color: var(--text-color);
}